{% extends 'base.html' %}
{% load static %}
{% block content %}
   <link rel="stylesheet" href="{% static 'predict/gre_predict.css' %}">
						<div id="hero-overlay">
							<div class="login-page">
								<img src="{% static 'predict/gra1.jpg' %}" class="avatar">
								<div class="form">
									<form class="register-form" action="gre_predict" enctype="multipart/form-data" method="post">
										{% csrf_token %}
										<p>GRE Score</p>
										<input type="text" name="gre_score" id="" placeholder="Enter GRE Score"/>
										<p>CGPA Score</p>
										<input type="text" name="cgpa" id="" placeholder="Enter CGPA">
										<p>TOEFL Score</p>
										<input type="text" name="toefl_score" id="" placeholder="Enter TOEFL Score">
										<p>University Rating</p>
										<input type="text" name="univ_rating" id="" placeholder="Enter University Rating">
										<p>Research</p>
                    <label class="toggle__switch">
                      <input type="checkbox" class="toggle__box" name="research">
                      <span class="toggle__slider"></span>
                    </label>
                    <br><br>
										<button class="button"><span>SUBMIT</span></button>
									</form>
	{% endblock %}
