{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'predict/gre_predict.css'%}"/>
<script type="text/javascript" src="{% static 'predict/gre_predict.js' %}"></script>
						<div id="hero-overlay">
							<div class="login-page">
								<img src="{% static 'predict/gra1.jpg' %}" class="avatar">
								<div class="form">
									<form class="register-form" action="gre_predict" enctype="multipart/form-data" method="post">
										{% csrf_token %}
										<p>GRE Score</p>
										<input type="text" name="gre_score" id="" placeholder="Enter GRE Score"/>
										<p>CGPA Score</p>
										<input type="text" name="cgpa" id="" placeholder="Enter CGPA">
										<p>TOEFL Score</p>
										<input type="text" name="toefl_score" id="" placeholder="Enter TOEFL Score">
										<p>University Rating</p>
										<label class="center">
											<input type="range" class="controls__range" min="0" step="1" max="5" name="univ_rating" value="0" onblur="getValue()"/>
											<span name="0" class="range__value">0</span>
										</label>
										<br><br>
										<p>Research</p>
										<label class="toggle__switch">
											<input type="hidden" name="research" value="0"/>
											<input type="checkbox" class="toggle__box" id="check" name="research" value="1"/>
											<span class="toggle__slider"></span>
										</label>
										<br><br>
										<button class="button" id="submit" ><span>SUBMIT</span></button>
									</form>
				  </div>
									</div>
				  </div>
	{% endblock %}
