*{
	font-family: 'Work Sans', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body{
	background: linear-gradient(135deg,rgba(15,35,25,0.35),rgba(15,35,25,0.7)), url("graduates.jpeg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-size: 30px;
	text-align: center;
	height: 1000px;
	color: white;
}

.welcome-message{
	margin-top: 275px;
	margin-bottom: 30px;
	padding: 1rem;
}

p{
	padding: 1rem;
}

.site-ad{
	margin: 2rem;
	padding: 1rem;
	text-align: center;
}

.button{
	cursor: pointer;
	font-size: 25px;
	background: #ec407a;
	padding: 10px;
	margin: 20px auto;
	border-radius: 14px;
	width: 200px;
}

.button a{
	 color: white;
}

footer{
	font-size: 22px;
}

.code{
	font-weight: 500;
	color: white;
}
