<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index-page.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'predict/favicon-32x32.png' %}">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <h1 class="heading"> MS Forecast - forecasting your MS admissions. </h1>
    <a href="home" class="goto-home">Get Started</a>
</body>
</html>
