.img{
  border-radius: 100%;
  float: left;
}

.login-page{
  width: 360px;
  padding: 4% 0 0;
  margin:auto;
}
.avatar{
  width:100px;
  height:100px;
  border-radius:50%;
	border: 5px solid #ec407a;
  position:absolute;
  top:30%;
  left:calc(50% - 58px);
	z-index: 1;
}
.form{
  top: 40%;
  position: absolute;
  background: rgba(238, 230, 235, 0.877);
  max-width: 360px;
  /*transform: translate(-50%,-50%);*/
  padding:45px;
  text-align: center;
	border-radius: 20px;
	border: 10px solid #ec407a;
	z-index: 0;
}

.form p{
  margin:0;
  padding:0;
  margin-bottom: 4px;
  font-weight: bold;
  color: black;
  text-align: center;
  display: 16px;
  font-size: 25px;
}

.form input{
  margin-bottom: 16px;
  width: 100%;
  background-color: #ffffff;
  color:black;
  font-size: 16px;
  text-align: center;
  padding: 8px 10px;
  border-radius: 2px;
	border: 2px solid blueviolet;
}
 .form input:focus{
 	border: 5px solid #ec407a;
 }

::placeholder{
  color:black;
}

.center {
    position: relative;
}
.controls__range {
    -webkit-appearance: none;
    height: 5px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 30px;
    outline: none;
    align-self: center;
}
.controls__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ec407a;
    cursor: pointer;
}
.range__value {
    background-color: #ff278c;
    position: relative;
    left: 5px;
    width: 40px;
    height: 40px;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: center;
}
.range__value::before {
    content: '';
    background-color: #ec407a;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    left: -7px;
    width: 13px;
    height: 13px;
}

.button {
  background-color: #ec407a;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button a{
	color: white;
}

.toggle__switch {
    height: 40px;
    width: 70px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.toggle__box {
    display: none;
}
.toggle__slider {
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    border-radius: 35px;
    position: absolute;
    cursor: pointer;
    transform: translate(-35px,10px);
}
.toggle__slider::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    background-color: white;
    transition: 0.5s;
}
.toggle__box:checked + .toggle__slider {
    background-color: #ec407a;
}
.toggle__box:checked + .toggle__slider::before {
    transform: translate(30px);
}
